:root{
    --beige : #F1DEC9;
    --beige2 : #C8B6A6;
    --marron : #A4907C;
    --marron2 : #8d7b68;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--beige);
    margin: 0;
}

h1{
    margin: 0;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}
.nav-link{
    color: white;
    font-size: large;
}
.nav-link:hover{
    color: var(--beige);
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        flex-direction: row-reverse;
    }
}
.navbar{
    height: 8vh;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: var(--bs-border-width) solid white;
    color: whitesmoke;
}

.itemsFirstPart{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phoneNumber{
    color: black;
    background-color: var(--beige);
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}
.appointement{
    color: black;
    background-color: var(--marron);
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    margin-left: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}
.logo{
    height: 180px;
    width: 180px;
    margin-bottom: 50px;
}

@media (max-width: 1000px){
    .firstPart{
        height: 50vh;
    }
}


.presentation{
    margin-top: 60px;
    letter-spacing: 1px;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 70px;
}
.titleAndBgPrestationsAccueil{
    background-color: var(--marron2);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.linksPrestations{
    display: flex;
    justify-content: center;
}
.prestationsFemmes{
    display: flex;
    background-color: var(--beige2);
    padding: 20px;
    margin-right: 50px;
    flex-direction: column;
}
.prestationsHommes{
    display: flex;
    background-color: var(--beige2);
    padding: 20px;
    flex-direction: column;
}

.ctaPrestations{
    margin: 30px;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
}

.partieDroiteProduitsAccueil{
    margin-top: 20px;
    background-color: var(--marron2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.nosproduits{
    padding: 20px;
    margin: 0;
}
.textNosProduits{
    width: 450px;
}
.ctaNosProduits{
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}










.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.leftPartFooter{
    margin-top: 15px;
    color: white;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.leftPartFooter>a{
    text-decoration: underline;
}
.separateurFooter{
    border: white solid 2px;
    opacity: 1;
    width: 150px;
    margin-left: 12px;
}
.mentionsLegales{
    font-size: small;
}
.seConnecter{
    font-size: xx-small;
}

.centerPartFooter{
    margin-top: 15px;
    color: white;
}
.jour{
    display: flex;
    justify-content: space-between;
}
.jour>p{
    margin-right: 15px;
}

.rightPartFooter{
    margin-top: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightPartFooter>iframe{
    margin-right: 50px;

}
h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.numeroFooter{
    color: white;
}
.numeroFooter:hover{
    color: #F1DEC9;
}